.container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 50px;
}

.main {
  display: grid;
  grid-template-columns: 232px minmax(430px, 502px);
  column-gap: 20px;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.logo {
  margin-top: 50px;
}