.ant-btn {
  margin-top: 20px;
  margin-bottom: 50px;
  width: 100%;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  height: 50px;
  border-radius: 0;
  background-color: #2196F3;
}

.ant-radio-button-wrapper-checked {
  background-color: #2196F3!important;
}

.ant-radio-button-wrapper {
  min-height: 50px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}


.ant-radio-button + span {
  font-size: 12px;  
  line-height: 20px;
  letter-spacing: 0.5px;
  font-family: 'Open Sans';
}


@media screen and (max-width: 768px) {
  .ant-radio-group {
    display: flex !important;
    flex-direction: column !important;
    width: 100%;

    .ant-radio-button-wrapper {
      width: 100%;
      text-align: center;
      
      &:not(:first-child) {
        margin-top: 8px;
      }
      
      &:not(:last-child) {
        border-radius: 6px;
      }
      
      &:last-child {
        border-radius: 6px;
      }
    }
  }
}