
:where(.css-dev-only-do-not-override-cdzvx5).ant-btn-variant-solid {
  margin-top: 20px;
  margin-bottom: 50px;
  width: 100%;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  height: 50px;
  border-radius: 0;
  background-color: #2196F3;
}